gradio==3.50.2
transformers
sentencepiece
accelerate
git+https://github.com/huggingface/diffusers.git@03373de0db15512f4e785919409142f94ef86dcb
compel
scipy
opencv-python
imageio
imageio-ffmpeg
numpy==1.24.2
gfpgan
optimum
git+https://github.com/facebookresearch/audiocraft
git+https://github.com/ai-forever/Real-ESRGAN.git
insightface
onnxruntime
controlnet-aux
mediapipe
tomesd
ffmpeg-python
trimesh
peft
