gradio==3.50.2
transformers
sentencepiece
accelerate
git+https://github.com/huggingface/diffusers.git@f825221b5d5a69f2e8cef98e39d9651106065940
compel
scipy
opencv-python
imageio
imageio-ffmpeg
numpy==1.24.2
gfpgan
optimum
git+https://github.com/facebookresearch/audiocraft
git+https://github.com/ai-forever/Real-ESRGAN.git
insightface
onnxruntime
controlnet-aux
mediapipe
tomesd
ffmpeg-python
trimesh
peft
