gradio==3.50.2
transformers
sentencepiece
accelerate
git+https://github.com/huggingface/diffusers.git@49b959b5408b97274e2ee423059d9239445aea26
compel
scipy
opencv-python
imageio
imageio-ffmpeg
numpy==1.25.2
gfpgan
optimum
git+https://github.com/facebookresearch/audiocraft
git+https://github.com/ai-forever/Real-ESRGAN.git
insightface
onnxruntime
controlnet-aux
mediapipe
tomesd
ffmpeg-python
trimesh
peft
git+https://github.com/TencentARC/PhotoMaker.git
exiv2
